<div class="next-meeting">
  <h3>Next BARC Meeting: {{ next_meeting.date }}</h3>
  {% if next_meeting.topic != "" %}
  <p><strong>Topic:</strong> {{ next_meeting.topic }}{% if next_meeting.presenter != "" %} — <strong>Presenter:</strong> {{ next_meeting.presenter }}{% endif %}</p>
  {% endif %}
  <ul style="margin: 0; padding-left: 1.5em;">
    <li style="margin: 0; padding: 0;"><strong>Doors open:</strong> {{ next_meeting.doors }}</li>
    <li style="margin: 0; padding: 0;"><strong>Meeting starts:</strong> {{ next_meeting.time }}</li>
    <li style="margin: 0; padding: 0;"><strong>Location:</strong> {{ next_meeting.location }}</li>
  </ul>
</div>


